
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<title>北京积云</title>


<meta content="index,follow" name="robots"/>
<meta content="index,follow" name="GOOGLEBOT"/>
<meta name="baidu_union_verify" content="c087a423b52225f404d4c97e59e53464">
<meta name="google-site-verification" content="Pd8y4Id4xJSxMvj-OwUhaZaK7COpr-8LcANUG30jxW8" />
<link rel="shortcut icon" href="https://img.kuaidaili.com/img/favicon.ico?v=3" type="image/x-icon">


<link rel="stylesheet" href="https://img.kuaidaili.com/css/all.css?v=84" media="screen" />



<meta name="renderer" content="webkit">
<meta name="baidu-site-verification" content="AO3Q6dKj9R" />
<meta name="baidu-site-verification" content="1flUdvqxyo" />
<meta name="sogou_site_verification" content="9ELczs5cQc"/>
<meta name="360-site-verification" content="feeadcad97dd7093f9abb1ee5285f031" />
<meta baidu-gxt-verify-token="0fd36d429c039b254364ec1f35f82358">
</head>

<body>
<div class="body">
    <!--首页标题-->
    <div id="navigationBar" class="topnav topnav-has" style="z-index: 1000;">
        <div class="navigation-inner">
            <div class="logo">
                <h1>
                    <a href="/" class="logo-img">
                            <font style="color:seashell">积云教育</font>
                    </a>
                </h1>
            </div>
            <div class="categories" id="nav-con">
                <ul class="menu">
                    <li id="menu_free" class="presentation">
                        <h2><a href="/free/">首页</a></h2>
                    </li>

                    <li id="menu_pricing" class="presentation">
                        <h2><a href="/pricing/">课程分类</a></h2>
                    </li>
                    <li id="menu_dps" class="presentation has-menu">
                        <h2><a href="/dps/">办学理念</a></h2>
                    </li>
                    <li id="menu_kps" class="presentation">
                        <h2><a href="/kps/">高薪就业</a></h2>
                    </li>
                    <li id="menu_ops" class="presentation">
                        <h2><a href="/ops/">积云实力</a></h2>
                    </li>
                    <li id="menu_fetch" class="presentation has-menu">
                        <h2><a href="/fetch/">退役军人就业培训</a></h2>
                    </li>
                    <li id="menu_apidoc" class="presentation has-menu">
                        <h2><a href="https://help.kuaidaili.com/api/intro/" target="_blank">新闻资讯</a></h2>
                    </li>
                    <li id="menu_help" class="presentation has-menu">
                        <h2><a href="https://help.kuaidaili.com" target="_blank">资讯电话</a></h2>
                    </li>
                </ul>
            </div>
            <div class="operation">
                {% if not user_id %}
                <span class="unlogin">
                    <a href="/parents_login/" class="qc-btn link-dl"><span>登录</span></a>
                    <span class="stick">|</span>
                    <a href="/parents_register/" class="qc-btn link-dl"><span>注册</span></a>
                </span>
                    {% else %}
                 <span class="unlogin">
                    <a href="/login/" class="qc-btn link-dl"><span>欢迎你XXXX</span></a>
                    <span class="stick">|</span>
                    <a href="/logout/" class="qc-btn link-dl"><span>退出</span></a>
                </span>
                {% endif %}
                <a href="/usercenter/" class="qc-btn link-name welcome-link"><span class="welcome"></span></a>
{#                <a href="/usercenter/" class="qc-btn link-mc"><span>会员中心</span></a><span id="noti"></span>#}
            </div>
        </div>
    </div>

<!--内容-->
<div id="content">

    <!--美国CBE教学模式-->
    <div class="content content-fs index-banner-back">
            <ul class="rslides" id="banner_slider">

                <li class="swiper-slide swiper-slide02">
                    <div class="header-inner">
                        <div class="hero-text-inner">
                            <div class="hero-ct">
                                <h2><span class="piece">美国CBE教学模式</span></h2>
                                <div class="des-text">
                                    <p>教学保障：双师型教师，名企真实项目实训</p>
                                </div>
                            </div>
                            <a href="/cart?p=day&t=dps&c=10&num=2500" class="hero-btn">了解详情</a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide swiper-slide02">
                    <div class="header-inner">
                        <div class="hero-text-inner">
                            <div class="hero-ct">
                                <h2><span class="piece">持续稳定高薪就业</span></h2>
                                <div class="des-text">
                                    <p>签订就业协议，中国人保高薪就业险，36个月就业服务，精准就业平台</p>
                                    <p>大数据时代，助力企业数据采集</p>
                                </div>
                            </div>
                            <a href="/dps/" class="hero-btn">了解详情</a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide swiper-slide01">
                    <div class="header-inner">
                        <div class="hero-text-inner">
                            <div class="hero-ct">
                                <h2><span class="piece">成功培养10000+ &nbsp万薪学员</span></h2>
                                <div class="des-text">
                                    <p>10余年教育积淀，让每个学生拥有出彩人生</p>

                                </div>
                            </div>
                            <a href="/kps/" class="hero-btn">了解详情</a>
                        </div>
                    </div>
                </li>
            </ul>
    </div>

    <div class="content-fs mod-wrap mod-wrap-forfree2">
        <div class="mod-inner">   <p>&nbsp</p></div>

        <div class="mod-inner">
            <p class="free-context">
            <font size="6" style="color: #1b1b1b">10余年教育积淀，让每个学生拥有出彩人生</font>
            </p>
        </div>
    </div>
    <!--产品列表-->
    <div class="mod-wrap content-fs mod-wrap-product bg-color-1">
        <div class="mod-inner">
            <div class="mod-title ct-slot"><h2 class="title">6大热门专业，<br>发展前景优，就业薪资高</h2>
            </div>
            <div class="mod-content qc-grids with-slot" id="J-more-container" style="height: auto;">
                <div class="qc-unit-8-24 qc-unit-md-1-2 qc-unit-sm-1-1 J-product-unit" style="display: inline-block;">
                    <div class="unit-box">

                        <div class="pd-item-name"><i class="pd-img plogo2"></i><h3>全站开发</h3></div>
                        <div class="pd-item-sub">
                            <a href="/dps/" class="pd-item-btn">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="qc-unit-8-24 qc-unit-md-1-2 qc-unit-sm-1-1 J-product-unit" style="display: inline-block;">
                    <div class="unit-box">
                        <div class="pd-item-name"><i class="pd-img plogo3"></i><h3>人工智能</h3></div>
                        <div class="pd-item-sub">
                            <a href="/kps/" class="pd-item-btn">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="qc-unit-8-24 qc-unit-md-1-2 qc-unit-sm-1-1 J-product-unit" style="display: inline-block;">
                    <div class="unit-box">
                        <div class="pd-item-name"><i class="pd-img plogo1"></i><h3>大数据</h3></div>
                        <div class="pd-item-sub">
                            <a href="/ops/" class="pd-item-btn">了解详情</a>
                        </div>
                    </div>
                </div>
                 <div class="qc-unit-8-24 qc-unit-md-1-2 qc-unit-sm-1-1 J-product-unit" style="display: inline-block;">
                    <div class="unit-box">
                        <div class="pd-item-name"><i class="pd-img plogo1"></i><h3>PHP</h3></div>
                        <div class="pd-item-sub">
                            <a href="/ops/" class="pd-item-btn">了解详情</a>
                        </div>
                    </div>
                </div>
                 <div class="qc-unit-8-24 qc-unit-md-1-2 qc-unit-sm-1-1 J-product-unit" style="display: inline-block;">
                    <div class="unit-box">
                        <div class="pd-item-name"><i class="pd-img plogo1"></i><h3>物联网</h3></div>
                        <div class="pd-item-sub">
                            <a href="/ops/" class="pd-item-btn">了解详情</a>
                        </div>
                    </div>
                </div>
                 <div class="qc-unit-8-24 qc-unit-md-1-2 qc-unit-sm-1-1 J-product-unit" style="display: inline-block;">
                    <div class="unit-box">
                        <div class="pd-item-name"><i class="pd-img plogo1"></i><h3>UI</h3></div>
                        <div class="pd-item-sub">
                            <a href="/ops/" class="pd-item-btn">了解详情</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--用途列表-->
    <div class="content-fs mod-wrap">
        <div class="pc-coverimg">
            <div class="con-body">
                <h2 class="title">美国CBE教学模式</h2><br>

                <ul class="index-usage-list clearfix">
                    <li class="col-md-3 grid_1">
                        <i class="index-i-crawler"> </i>
                        <h3>DACUM课程开发</h3>
                        <p>专家座谈，企业调研</p>
                    </li>
                    <li class="col-md-3 grid_1">
                        <i class="index-i-cart"> </i>
                        <h3>DTP教学计划开发</h3>
                        <p>将岗位技术标准分析为课程标准</p>
                    </li>
                    <li class="col-md-3 grid_1">
                        <i class="index-i-account"> </i>
                        <h3>TIM教学实施与管理</h3>
                        <p>双面型教师一对一辅导</p>
                    </li>
                    <li class="col-md-3 grid_1">
                        <i class="index-i-vote"> </i>
                        <h3>TEF教学评测与反馈</h3>
                        <p>课程知识点测评</p>
                    </li>
                    <li class="col-md-3 grid_1">
                        <i class="index-i-soft"> </i>
                        <h3>ASD英语普及</h3>
                        <p>月度考试通关</p>
                    </li>
                    <li class="col-md-3 grid_1">
                        <i class="index-i-video"> </i>
                        <h3>QWE军事化管理</h3>
                        <p>企业调研</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--logo墙-->
    <div class="content-fs mod-wrap mod-wrap-offer mod-com-back">
        <div class="mod-inner">
            <h2 class="title">创新职业教育理念，引领中国职业教育发展，学生就业的公司</h2>
            <div class="com-list">
                <ul id="m-com-list" class="clearfix">
                    <li class="com-logo01"></li>
                    <li class="com-logo02"></li>
                    <li class="com-logo03"></li>
                    <li class="com-logo04"></li>
                    <li class="com-logo05"></li>
                    <li class="com-logo06"></li>
                    <li class="com-logo07"></li>
                    <li class="com-logo08"></li>
                    <li class="com-logo09"></li>
                    <li class="com-logo10"></li>
                    <li class="com-logo11"></li>
                    <li class="com-logo12"></li>
                    <li class="com-logo13"></li>
                    <li class="com-logo14"></li>
                    <li class="com-logo15"></li>
                </ul>
            </div>
        </div>
    </div>
    <!--教师logo墙-->
    <div class="content-fs mod-wrap mod-wrap-offer mod-com-back">
        <div class="mod-inner">
            <h2 class="title">强大师资、多为项目总监、设计总监、架构师</h2><br>
            <div class="com-list">
                <ul id="m-com-list" class="clearfix">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="defenceWrapper" class="content-fs mod-wrap mod-wrap-dynamic">
        <div class="mod-inner">
            <div class="ct-slot">
                <span class="text">今日毕业生累计人数</span>
                <div class="data"><span id="defenceCount">9</span>人</div>
            </div>
        </div>
    </div>


    <div id="freetry" class="content-fs mod-wrap mod-wrap-forfree">
        <div class="mod-inner">

            <p class="free-context hint">客服QQ：<a target="_blank" href="http://q.url.cn/CDksXo?_type=wpa&amp;qidian=true">800849628</a>&nbsp;&nbsp;&nbsp;&nbsp;客服微信：<a target="_blank" href="https://img.kuaidaili.com/img/service_wx.jpg">kuaidaili</a></p>
            <p class="free-context hint">客服热线：<a href="tel:4000580638">400-058-0638</a></p>
            <a href="javascript:void(0);" class="online-chat free-btn">打开在线客服</a>
        </div>
    </div>

</div>


<div class="footer">
    <div class="con-body clearfix">
        <div class="footer-left">

        <ul class="foot-link clearfix">
            <li><a href="/about/">关于我们</a><span>|</span></li>
            <li><a href="/contract/" target="_blank">服务条款</a><span>|</span></li>
            <li><a href="/law/" target="_blank">法律声明</a><span>|</span></li>
            <li><a href="https://img.kuaidaili.com/sitemap.xml">网站地图</a><span>|</span></li>
            <li><a href="https://help.kuaidaili.com/dev/intro/" target="_blank">开发者指南</a><span>|</span></li>
            <li><a href="/changelog/">更新日志</a></li>

        </ul>
        <p class="foot-owner">© 2013-2019 积善科技（北京）有限公司<br/>
            <a style="margin-left:0px" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">京ICP备16054786号</a>
            <span style="margin-left:6px">增值电信经营许可证 京B2-20181007</span>
            <a style="margin-left:5px" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802027137"><img src="https://img.kuaidaili.com/img/jgwab.png" style="height:18px;vertical-align:sub;" />京公网安备 11010802027137号</a>
        </p>
        </div>
        <div class="foot-safe clearfix">
            <a class="safe01" href="https://ss.knet.cn/verifyseal.dll?sn=e161117110108652324qkr000000&ct=df&a=1&pa=0.3305956236561214" target="_blank"></a>

            <a id='cxwz' class="safe03" href='https://credit.szfw.org/CX20180118037820350186.html' target='_blank'></a>

        </div>
    </div>
</div>
<div class="m-footer">
    <div class="con-body">
        <ul class="foot-link clearfix">
            <li><a href="/about/">关于我们</a></li>
            <li><a href="https://help.kuaidaili.com/contract/" target="_blank">服务条款</a></li>
            <li><a href="https://help.kuaidaili.com/law/" target="_blank">法律声明</a></li>
            <li><a href="/sitemap.xml">网站地图</a></li>
            <li><a href="https://help.kuaidaili.com" target="_blank">帮助中心</a></li>
            <li><a href="/changelog/">更新日志</a></li>

        </ul>
        <p class="foot-owner">©2013-2019&nbsp; 积善科技（北京）有限公司</p>
        <a class="foot-owner" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">京ICP备16054786号</a>
        <span class="foot-owner" style="margin-left:5px">增值电信经营许可证 京B2-20181007</span>
        <a class="foot-owner" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802027137"><img src="https://img.kuaidaili.com/img/jgwab.png" style="height:18px;vertical-align:sub;" />京公网安备 11010802027137号</a>

        <div class="foot-safe clearfix">
            <a class="safe01" href="https://ss.knet.cn/verifyseal.dll?sn=e161117110108652324qkr000000&ct=df&a=1&pa=0.3305956236561214" target="_blank"></a>
            <a id='cxwz' class="safe03" href='https://credit.szfw.org/CX20180118037820350186.html' target='_blank'></a>

        </div>

    </div>
</div>
<div id="mNavMask" style="position: fixed; top: 0px; left: 0px; bottom: 0; right: 0; width: 100%; z-index: 100; height: 100%; display: none; background: rgba(0, 0, 0, 0.74902);"></div>
<ul class="onMShow">
    <li>
        <a class="online-chat" href="javascript:void(0);"><br>
            <span class="bt3"></span>
            <div class="two">客服QQ: 800849628<br>周一至周六 9:00-18:00</div>
        </a>
    </li>
    <li>
        <a href="tel:4000580638"><br>
            <span class="bt2"></span>
            <div class="two">客服电话：400-058-0638<br>周一至周六 9:00-18:00</div>
        </a>
    </li>
    <li>
        <a href="/support/"><br>
            <span class="bt1"></span>
            <div>提交工单</div>
        </a>
    </li>
</ul>
<a href="javascript:void(0);" id="top_btn" class="label btt" style="display:none;"><span class="btn-top"></span></a>

</div>


<script type="text/javascript" src="https://img.kuaidaili.com/js/all.js?v=38"></script>

<script type="text/javascript">
pageObj.indexEvents();
$("#banner_slider").responsiveSlides({
    auto: true,
    pager: true,
    speed: 500,
    timeout: 4000,
    pause: true
});

$(document).ready(function() {
    if($.os.ios || $.os.android){
        $('.hero-text-inner').click(function () {
            var $a = $(this).children('a');
            window.location.href = $a.attr('href');
        });
    }
});

$(document).ready(function() {
    var ie = ieVersion();
    if(ie > 0 && ie < 10)
        set_top_notify("error", "您的浏览器版本过低，建议更换IE10以上版本或使用谷歌浏览器。", true);
});

</script>

<script type="text/javascript">
var menu = "menu_index";
if(menu) $('#'+menu).addClass('active');
var ucm = "";
if(ucm){
    $('#ucm_'+ucm).addClass('active');
    $('#ucm_'+ucm+' a i').addClass('icon-white');
}

if(window.location.pathname.lastIndexOf('/usercenter', 0) === 0){
    $('.topnav .navigation-inner').css("max-width", "1400px");
    $('.footer .con-body').css("width", "1380px");
}

(function(){document.getElementById('cxwz').oncontextmenu = function(){return false;}})();

var ie = ieVersion()
if(!ie || ie >= 11){
    loadScript("https://img.kuaidaili.com/js/popper-tippy.js", function(){
        if(isDefined(tippy)) {
            tippy.setDefaults({
              arrow: true,
              animation: 'fade',
              duration: [180, 250],
              theme: 'light-border'
            })
        }

    });
}
</script>

<script type="text/javascript">
var chat_url = "https://static.meiqia.com/dist/standalone.html?_=t&eid=72194";
$(document).ready(function() {
    init_chat();
});
</script>

<script type="text/javascript">
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7ed65b1cc4b810e9fd37959c9bb51b31";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://img.kuaidaili.com/ga/ga.js','ga');
ga('create', 'UA-76097251-1', 'auto');
ga('send', 'pageview');
</script>


<!--[if lt IE 9]><link rel="stylesheet" href="https://img.kuaidaili.com/css/ie.css?v=10" media="screen" /><![endif]-->
</body>
</html>
