{% extends 'base.html' %}
{% block content %}

                <div>
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>老师添加</strong></h2>
			            </div>
						<div class="panel-body">
							<form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">

				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">姓名</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="teacher_name">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="email-input">邮箱</label>
				                    <div class="col-md-9">
				                        <input type="email" id="email-input" name="email-input" class="form-control" placeholder="Email address">
				                    </div>
				                </div>
                                <div class="form-group">
				                    <label class="col-md-3 control-label" for="password-input">账号</label>
				                    <div class="col-md-9">
				                        <input type="password" id="password-input" name="password-input" class="form-control" placeholder="work_number">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="password-input">密码</label>
				                    <div class="col-md-9">
				                        <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="disabled-input">电话</label>
				                    <div class="col-md-9">
				                        <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="phone" >
				                    </div>
				                </div>
                                <div class="form-group">
				                    <label class="col-md-3 control-label" for="disabled-input">身份证</label>
				                    <div class="col-md-9">
				                        <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="id_card" >
				                    </div>
				                </div>
                                <div class="form-group">
				                    <label class="col-md-3 control-label" for="disabled-input">年龄</label>
				                    <div class="col-md-9">
				                        <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="age" >
				                    </div>
				                </div>
                                <div class="form-group">
				                    <label class="col-md-3 control-label" for="disabled-input">性别</label>
                                    <div class="col-md-9">
				                        <label class="radio-inline" for="inline-radio1">
				                        	<input type="radio" id="inline-radio1" name="inline-radios" value="option1"> 男
				                        </label>
				                        <label class="radio-inline" for="inline-radio2">
				                        	<input type="radio" id="inline-radio2" name="inline-radios" value="option2"> 女
				                        </label>
				                    </div>

				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="disabled-input">职位</label>
				                    <div class="col-md-9">
				                        <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="position">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="select">所属方向</label>
				                    <div class="col-md-9">
				                        <select id="select" name="select" class="form-control" size="1">
				                            <option value="0">请选择方向</option>
				                            <option value="1">人工智能</option>
				                            <option value="2">物联网</option>
				                            <option value="3">大数据</option>
				                        </select>
				                    </div>
				                </div>
                                <div class="form-group">
				                    <label class="col-md-3 control-label" for="select">班级</label>
				                    <div class="col-md-9">
				                        <select id="select" name="select" class="form-control" size="1">
				                            <option value="0">请选择班级</option>
				                            <option value="1">1811A</option>
				                            <option value="2">1811B</option>
				                            <option value="3">1811C</option>
				                        </select>
				                    </div>
				                </div>
								<br>
				            </form>
						</div>
						<div class="panel-footer" align="center">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>添加</button>
	                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>取消</button>
		                </div>
			        </div>
			    </div>


{% endblock content%}