{% extends 'base.html' %}
{% block content %}

                <div>
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>Basic Form Elements</strong></h2>
			            </div>
						<div class="panel-body">
							<form action="/add_stu/" method="post" enctype="multipart/form-data" class="form-horizontal ">
				                <!--<div class="form-group">-->
				                    <!--<label class="col-md-3 control-label">Static</label>-->
				                    <!--<div class="col-md-9">-->
				                        <!--<p class="form-control-static">Username</p>-->
				                    <!--</div>-->
				                <!--</div>-->
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">姓名</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="name" class="form-control" placeholder="name">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="email-input">性别</label>
				                    <div class="col-md-9">
				                        <input type="email" id="email-input" name="sex" class="form-control" placeholder="sex">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="password-input">年龄</label>
				                    <div class="col-md-9">
				                        <input type="text" id="password-input" name="age" class="form-control" placeholder="age">
				                        <!--<span class="help-block">Please enter a complex password</span>-->
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="disabled-input">身份证号</label>
				                    <div class="col-md-9">
				                        <input type="text" id="disabled-input" name="IDcard" class="form-control" placeholder="IDcard" >
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="select">专业</label>
				                    <div class="col-md-9">
				                        <select id="select" name="major" class="form-control" size="1">
				                            <option value="0">人工智能</option>
				                            <option value="1">物联网</option>
				                            <option value="2">大数据</option>
				                            <option value="3">全战</option>
				                            <option value="4">新媒体</option>
				                        </select>
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="select">阶段</label>
				                    <div class="col-md-9">
				                        <select id="select" name="stage" class="form-control" size="1">
				                            <option value="0">初级</option>
				                            <option value="1">高级</option>
				                            <option value="2">爬虫</option>
				                            <option value="3">小实训</option>
				                        </select>
				                    </div>
				                </div>
								<br>

						</div>
						<div class="panel-footer" align="center">
		                    <button type="submit" class="btn btn-sm btn-success" ><i class="fa fa-dot-circle-o"></i> Submit</button>
	                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
		                </div>
			        </div>
			    </div>
{% endblock content %}