{% extends 'base.html' %}
{% block content %}


                <div>
			        <div class="panel panel-default">
			            <div class="panel-heading">
			                <h2><i class="fa fa-indent red"></i><strong>Basic Form Elements</strong></h2>
			            </div>
						<div class="panel-body">
							<form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">

				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="text-input">家长姓名</label>
				                    <div class="col-md-9">
				                        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="请输入家长姓名">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="email-input">用户名</label>
				                    <div class="col-md-9">
				                        <input type="email" id="email-input" name="email-input" class="form-control" placeholder="请输入用户名">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="password-input">密码</label>
				                    <div class="col-md-9">
				                        <input type="password" id="password-input" name="password-input" class="form-control" placeholder="请输入密码">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="disabled-input">身份证号</label>
				                    <div class="col-md-9">
				                        <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="请输入身份证号">
				                    </div>
				                </div>
				                <div class="form-group">
				                    <label class="col-md-3 control-label" for="textarea-input">学生身份证后6位</label>
				                    <div class="col-md-9">
				                        <input type="text" name="textarea-input" class="form-control" placeholder="请输入学生身份证后6位">
				                    </div>
				                </div>
                                 <div class="form-group">
				                    <label class="col-md-3 control-label" for="textarea-input">学生姓名</label>
				                    <div class="col-md-9">
				                        <input type="text" name="textarea-input" class="form-control" placeholder="请输入学生身份证后6位">
				                    </div>
				                </div>



						<div class="panel-footer" align="center">
		                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>添加</button>
	                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>修改</button>
		                </div>
                            </form>
			    </div>
            </div><!--/.row-->

		        </div>
		<!-- end: Content -->
		<br><br><br>




{% endblock content%}