{% extends 'base.html' %}
{% block content %}
                积分统计
                <div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>积分统计表</strong></h2>
							<div class="panel-actions">
								<a href="table.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-striped table-condensed table-hover">
								  <thead>
									  <tr>
										 <th>姓名</th>
										 <th>身份</th>
										 <th>积分</th>
										 <th align="center">操作</th>
                                          <th>清零</th>
									  </tr>
								  </thead>
								  <tbody>
									<tr>
										<td>张三</td>
                                        <td>学生</td>
                                        <td>1000</td>
										<td align="center">
											<button type="button" class="btn btn-success">Add</button>
                                            <button type="button" class="btn btn-danger">Reduce</button>
										</td>
                                        <td align="center"><button type="button" class="btn btn-primary">清零</button></td>
									</tr>
									<tr>
										<td>李四</td>
                                        <td>学生</td>
                                        <td>500</td>
										<td align="center">
											<button type="button" class="btn btn-success">Add</button>
                                            <button type="button" class="btn btn-danger">Reduce</button>
										</td>
                                        <td align="center"><button type="button" class="btn btn-primary">清零</button></td>
									</tr>
									<tr>
										<td>王五</td>
                                        <td>学生</td>
                                        <td>999</td>
										<td align="center">
											<button type="button" class="btn btn-success">Add</button>
                                            <button type="button" class="btn btn-danger">Reduce</button>
										</td>
                                        <td align="center"><button type="button" class="btn btn-primary">清零</button></td>
									</tr>
									<tr>
										<td>赵六</td>
                                        <td>学生</td>
                                        <td>1</td>
										<td align="center">
											<button type="button" class="btn btn-success">Add</button>
                                            <button type="button" class="btn btn-danger">Reduce</button>
										</td>
                                        <td align="center"><button type="button" class="btn btn-primary">清零</button></td>
									</tr>
								  </tbody>
							 </table>
							 <ul class="pagination">
								<li><a href="table.html#">Prev</a></li>
								<li class="active">
								  <a href="table.html#">1</a>
								</li>
								<li><a href="table.html#">2</a></li>
								<li><a href="table.html#">3</a></li>
								<li><a href="table.html#">4</a></li>
								<li><a href="table.html#">5</a></li>
								<li><a href="table.html#">Next</a></li>
							  </ul>
						</div>
					</div>
				</div>
{% endblock content %}