{% extends 'base.html' %}
{% block content %}

                <div class="row">

				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="info-box red-bg">
						<i class="fa fa-thumbs-o-up"></i>
						<div class="count">学生</div>
						<div class="title">1人</div>
					</div><!--/.info-box-->
				</div><!--/.col-->

				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="info-box green-bg">
						<i class="fa fa-thumbs-o-up"></i>
						<div class="count">老师</div>
						<div class="title">1人</div>
					</div><!--/.info-box-->
				</div><!--/.col-->

				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="info-box blue-bg">
						<i class="fa fa-thumbs-o-up"></i>
						<div class="count">家长</div>
						<div class="title">0人</div>
					</div><!--/.info-box-->
				</div><!--/.col-->



			</div><!--/.row-->



			<div class="row">

                <div class="col-lg-12">
                    <button type="button" class="btn btn-success">导入</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-success">导出</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-success"><a href="edit/add_stu.html">添加</a></button> &nbsp;&nbsp;
                    &nbsp;
                    <div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-table red"></i><span class="break"></span><strong>用户</strong></h2>
							<div class="panel-actions">
								<a href="table.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>

                        <div class="panel-body" style="display: block;">
                            <table class="table table-hover" align="center">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>年龄</th>
                                        <th>身份证号</th>
                                        <th>所属方向</th>
                                        <th>阶段</th>
										<th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
								{% for i in all %}
                                    <tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.name}}</td>
                                        <td>{{i.sex}}</td>
                                        <td>{{i.age}}</td>
                                        <td>{{i.IDcard}}</td>
                                        <td>{{i.major}}</td>
                                        <td>{{i.stage}}</td>
										<td>
                                            <a href="edit/edit_stu.html"><input type="button" class="btn btn-success button-next" name="next" value="编辑"></a>
                                            <a href="edit/stu_detail.html"><input type="button" class="btn btn-success button-next" name="next" value="查看详情"></a>
										</td>
                                    </tr>
								{% endfor %}
                                </tbody>
                            </table>
                            <ul class="pagination">
								<li><a href="table.html#">Prev</a></li>
								<li class="active">
								  <a href="table.html#">1</a>
								</li>
								<li><a href="table.html#">2</a></li>
								<li><a href="table.html#">3</a></li>
								<li><a href="table.html#">4</a></li>
								<li><a href="table.html#">5</a></li>
								<li><a href="table.html#">Next</a></li>
							  </ul>
                        </div>
                    </div>
				</div>

			</div><!--/row-->
{% endblock content %}